.idea/
tiles/
__pycache__/
tokyo/
.DS_Store
.vscode/
src/utils/dem/libge/bin/v120/x64/debug/Cache/
src/utils/dem/libge/src/gehelper_py/gehelper_py/x64/Release/gehelper_py.tlog/
src/utils/dem/libge/src/libge/ipch/
src/utils/dem/libge/src/libgeDemo/v120/x64/Debug/libgeDemo.tlog/
src/utils/dem/libge/src/libge/v120/
src/utils/dem/libge/src/libgeDemo/v120/
src/utils/dem/libge/src/gehelper_py/gehelper_py/x64/
src/utils/dem/libge/bin/v120/x64/debug/gehelper_py.exp
src/utils/dem/libge/bin/v120/x64/debug/gehelper_py.ilk
src/utils/dem/libge/bin/v120/x64/debug/gehelper_py.lib
src/utils/dem/libge/bin/v120/x64/debug/gehelper_py.pdb
src/utils/dem/libge/bin/v120/x64/debug/gehelper_py.pyd
src/utils/dem/libge/bin/v120/x64/debug/libgeDemo.pdb
src/utils/dem/libge/bin/v120/x64/debug/libgeDemo.ilk
src/utils/dem/libge/bin/v120/x64/debug/libgeDemo.exe
src/utils/dem/libge/bin/v120/x64/debug/libge.pdb
src/utils/dem/libge/bin/v120/x64/debug/libge.ilk
src/utils/dem/libge/bin/v120/x64/debug/libge.dll
src/utils/dem/libge/bin/v120/x64/release/libge.pdb
src/utils/dem/libge/bin/v120/x64/release/libge.dll
src/utils/dem/libge/bin/v120/x64/release/gehelper_py.lib
src/utils/dem/libge/bin/v120/x64/release/gehelper_py.exp
src/utils/dem/libge/src/libge/libge.opensdf
src/utils/dem/libge/lib/v120/x64/debug/libge.lib
src/utils/dem/libge/lib/v120/x64/debug/libge.exp
src/utils/dem/libge/bin/v120/x64/release/gehelper_py.pdb
src/utils/dem/libge/lib/v120/x64/release/libge.lib
src/utils/dem/libge/lib/v120/x64/release/libge.exp
src/utils/dem/libge/bin/v120/x64/release/gehelper_py.pyd
src/utils/dem/libge/src/libge/libge.sdf
venv/
src/utils/dem/libge/bin/
src/utils/dem/libge/src/libge/libge.v12.suo
